.button--cart {
    cursor: pointer;
    padding-block: 10px;
    background-color: #118715;
    color: #fff;
    border: none;
    transition: all 0.5s ease;
    border-radius: 10px;
    padding-inline: 15px;
}

.button--cart:disabled{
    background-color: gray;
}

.button--text{
    color: #fff;
}

.button--cart:hover{
    filter: brightness(1.1);
}

.button--cart:hover span{
    border-bottom: #fff 1px solid;
}

