.cover{
    inline-size: 90%;
    margin-inline: auto;
    /*background-image: url(../images/cover/bengal-brown.webp);*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding: var(--cover-padding);
    z-index: 0;
    position: relative;
    margin-block-end: var(--section-margin-block-end);
}

.cover__title{
    color: inherit;
    text-transform: uppercase;
    padding-block: var(--cover-title-padding);
}

.cover::before{
    inline-size: 100%;
    block-size: 100%;
    background-color: rgba(5, 5, 5, 0.5);
    position: absolute;
    content: "";
    z-index: -1;
    inset: 0 0;
}

.cover__description{
    display: flex;
    justify-content: space-between;
}

.cover__description__button{
    background: none;
    border: none;
    background: transparent;
    border: #fff 1px solid;
    padding: 2px 13px;
}

.cover__title{
  font-size: clamp(1.25rem, 0.2083rem + 4.6296vw, 4.375rem);
  font-weight: bold;
  width: 100%;
  text-transform: uppercase;
  display: block;
  margin-bottom: 40px;
}

.letter__spacing-extended{
    letter-spacing: 30px;
}

.aligned__text{
    display: block;
    margin-top: 20px;
    line-height: 115%;
}

.no-letter-spacing{
    letter-spacing: initial;
}

.aligned__text-left{
    margin-top: 0;
    text-align: left;
}

.aligned__text-center{
    text-align: center;
}

.aligned__text-right{
    text-align: right;
}

.cover__description{
    display: flex;
    justify-content: space-between;
}

.cover__description-text{
    font-size: 22px;
    font-weight: normal;
    letter-spacing: 0.3em;
    padding-right: 10px;
}

.cover__button{
    background: transparent;
    border: 2px solid white;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cover__button:hover{
    background-color: #52595d;
}

.cover-button:hover, .cover-button:focus-visible{
    outline: 1px solid white;
    outline-offset: 1px;
}