/* Кастомный чекбокс (общий блок) */
.checkbox__square {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.checkbox__square-span {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    display: inline-block;
    position: relative;
}

input[type='checkbox']:checked + .checkbox__square-span::before{
    content: '';
    position: absolute;
    display: block;
    inset: 1px;
    width: 17px;
    height: 17px;
    background-color: #000;
    z-index: 1;
}

.checkbox__square-label {
    user-select: none;
    width: fit-content;
}