.comments__list{
    list-style: none;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form--comment{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.login_or_register{
    margin-bottom: 20px;
}