.cart_container{
    /*text-align: left;*/
}

.cart_items__list-item{
    list-style-type: none;
}

.cart_container__content{
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 20px;
}

.cart_items__list{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cart-container__summary{
    max-width: 25rem;
    height: fit-content;
    padding: 1rem;
    border-radius: 10px;
    border: 2px #dee3df solid;
    box-shadow: -1px 1px 1px 1px #dee3df;
}

.cart-container__button{
    cursor: pointer;
    padding-block: 10px;
    background-color: #118715;
    color: #fff;
    border: none;
    transition: all 0.5s ease;
    border-radius: 10px;
    padding-inline: 15px;
}
