/* Хлебные крошки */
.breadcrumb{
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 20px;
}

.breadcrumb__arrow{
    font-weight: bold;
}


/* Сетка товара */
.product{
    display: grid;
    gap: 30px;
    grid-template-columns: 450px 1fr;
    grid-template-rows: 450px auto;
    text-align: left;
}

.product__section--thumbnail{
    height: 450px;
    overflow: hidden;
    border: 1px dotted gray;
}

.product__section{
    width: 100%;
}

/* Секция с ценой */
.product__section--info{
    grid-row: span 2;
    grid-column: 2;
}

/* Секция со слайдером */
.product__section--slider{
    width: 100%;
    height: 400px;
    grid-column: 1;
    grid-row: 2;
}

.product__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.product__description, .product__rating{
    text-align: left;
    padding: 0;
    margin-bottom: 18px;
}

.product__title{
    padding: 0;
    margin-bottom: 18px;
}

.product__table{
    margin-bottom: 20px;
}

/* Цены */
.product__price{
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 20px;
}

.product__price--current, .product__price--old{
    padding-left: 8px;
}

.product__price--old {
    color: #928f8f;
    text-decoration: line-through;
}

.product__price--current{
    color: green;
}

.product__price--current--not_in_stock{
    color: #ad0505;
}

/* Стили для кнопок */
.product__buttons-controls{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.product__button:disabled{
    background-color: gray;
}

.product__button{
    font-family: inherit;
    font-size: inherit;
    color: white;
    cursor: pointer;
    padding-block: 10px;
    background-color: #118715;
    border: none;
    transition: all 0.5s ease;
    border-radius: 10px;
    padding-inline: 15px;
}

.product__button--update{
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__button:hover{
    filter: brightness(110%);
}

.button__text{
    font-weight: bold;
    color: #fff;
}

.product__button:hover span{
    border-bottom: #fff 1px solid;
}

/*.product__button--delete{
    cursor: pointer;
    padding-block: 10px;
    background-color: #118715;
    color: #fff;
    border: none;
    transition: all 0.5s ease;
    border-radius: 10px;
    padding-inline: 15px;
    font-size: inherit;
}*/

/* Комментарии */
.comments__title{
    text-align: left;
    margin-bottom: 20px;
}