:root{
    --page-padding: 25px;
    --header-margin-block-end: 30px;
    --cover-padding: 40px;
    --section-margin-block-end: 50px;
    --cover-title-padding: 40px;
    --footer-padding: 20px;
    --header-padding: 20px;
    --product-images-width: 100px;
    --categories-description-block-end: 20px;
}
