@font-face {
  font-family: Raleway;
  src:
    url(./Raleway-Regular.woff2) format('woff2'),
    url(./Raleway-Regular.woff) format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  src:
    url(./Raleway-Bold.woff2) format('woff2'),
    url(./Raleway-Bold.woff) format('woff');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Pro";
  src:
    url(./gothampro.ttf) format('truetype');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src:
    url(./gothampro_italic.ttf) format('truetype');
  font-weight: medium;
  font-style: italic;
}

@font-face {
  font-family: "Gotham Pro";
  src:
    url(./gothampro_bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src:
    url(./gothampro_bolditalic.ttf) format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Gotham Pro";
  src:
    url(./gothampro_light.ttf) format('truetype');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src:
    url(./gothampro_lightitalic.ttf) format('truetype');
  font-weight: light;
  font-style: italic;
}

