/* Основная сетка каталога */
.catalogue-content {
    display: grid;    
    grid-template-columns: 17% 1fr;
    grid-template-rows: min-content 1fr;
    row-gap: 20px;
}

/* Форма сортировки */
.sorting-form {
    grid-column: 2;  
    display: flex;
    flex-direction: column;
    gap: 20px;    
}

.sorting-form__select {
    padding: 10px 13px;
    font-family: inherit;
    font-size: inherit;
    inline-size: 300px;
    appearance: none;
    -webkit-appearance: none;
    background-image: url("/static/images/svg/down-arrow.svg");
    background-repeat: no-repeat;
    background-size: 25px;
    padding-right: 25px;
    background-position: center right 15px;
}

/* Форма фильтров */
.filters-form {
    display: flex;
    flex-direction: column;
    gap: 30px;   
    flex-wrap: wrap;
    grid-row: span 2;
}

.filters-form__group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: none;
}

.filters-form__title {
    font-weight: bold;
    margin: 0;
}

.filters-form__text {
    margin: 0;
}

/* Секция фильтров (левая колонка) */
.filters-section {    
    grid-column: 1;
    border-inline-end: #000 1px solid;
}

/* Секция с товарами */
.products-section {
    grid-column: 2;
    border-top: 1px solid #000;
    padding: 20px;    
}

.products-section__title {
    margin-top: 0;
}

.products-grid {
    inline-size: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    gap: 20px;
    list-style: none;
    padding: 0;
}

.products-grid__item {
    /* Стили для элемента сетки */
}
